@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 82.16% 40.69%,
    #00c9ff 0%,
    #92fe9d 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-blue {
  color: #b3fffc;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.filter-svg {
  filter: brightness(0) saturate(100%) invert(80%) sepia(15%) saturate(1221%)
    hue-rotate(101deg) brightness(105%) contrast(81%);
}

.bg-green-gradient {
  //background: linear-gradient(157.81deg, #d53369 0%, #daae51 100%);
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-down 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-down 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.feature-card {
  transition: 0.25s;
}

.feature-card:hover {
  //background: var(--black-gradient);
  background: #071e22;
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
  transition: 0.25s;
}

.feedback-card:hover {
  //background: var(--black-gradient);
  background: #071e22;
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(100px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(100px);
}

.white__gradient {
  //background: rgba(255, 0, 0, 1);
  background: rgba(255, 255, 255, 0.6);
  //background: -webkit-rgba(255, 0, 0, 0.6);
  //-webkit-filter: blur(750px);
  filter: blur(100px);
}

.green__gradient {
  background: rgba(158, 255, 177, 0.4);
  filter: blur(100px);
}

.green__glow {
  box-shadow: 0px 0px 42px 8px rgba(158, 255, 177, 0.4);
  -webkit-box-shadow: 0px 0px 42px 8px rgba(158, 255, 177, 0.4);
  -moz-box-shadow: 0px 0px 42px 8px rgba(158, 255, 177, 0.4);
}

.client-logo {
  transition: 0.25s ease-in-out all;
}

.client-logo:hover {
  //-webkit-animation: glow 0.25s ease-in both;
  //animation: glow 1s ease-in both;
  filter: brightness(100) saturate(100%) drop-shadow(0px 5px 32px white);
}

@-webkit-keyframes glow {
  0% {
  }
  100% {
    filter: brightness(100) saturate(100%);
  }
}

@keyframes glow {
  0% {
  }
  100% {
    filter: brightness(100) saturate(100%);
  }
}

.move {
  animation: move 3s infinite ease-in-out alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}
